<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" xmlns:tritum="http://typo3.org/ns/TRITUM/StaticInfoTablesFormelements/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="t3-form-control-group form-group">
    <label><span data-template-property="label" /></label>
    <div class="t3-form-controls" data-identifier="inspectorEditorControlsWrapper">
        <tritum:formEditor.staticInfoTablesCountries
            data="{template-property: 'selectOptions'}"
            prependOptionLabel=""
            prependOptionValue=""
            class="form-control" />
    </div>
</div>
